<div class="row" id="courses" style="display:none">
    <div class="col-lg-12 col-md-12">
        <div class="card">
            <div class="card-header card-header-primary card-header-icon">
                <div class="card-icon">
                    <i class="material-icons"></i>
                </div>
                <h4 class="card-title">Courses</h4>
            </div>
            <div class="card-body">
                <div class="col-lg-12 row">
                    <br /><br /> {%if courses %} {% for course in courses %}

                    


                    <div class="col-lg-3 ">
                        
                        <div class="hovereffect">
                            <img class="img-responsive" src="{{ course.background_image }}" alt="">
                            <div class="overlay">
                                    <h2 style="color:white"><b>{{ course.name }}</b></h2>
                                <a class="info" href="#">Start</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %} {% else %} {% endif %}
                </div>
            </div>
        </div>
    </div>

</div>