<div class="jumbotron" id="jumbotron" style="background:linear-gradient(60deg,#e8bbf5,rgb(167, 165, 165),  rgb(253, 152, 112), rgb(167, 165, 165), rgb(253, 152, 112),#dc96f0)">

    <h1 class="h1-reponsive mb-3 text-center" style="color:white"><strong>Welcome To Purple Signs</strong></h1>
    <p class="lead" style="color:white">To begin using Purple Sign Web interface please choose any of the above options
        or those in the
        side-bar by clicking on them.

        <br />
        <h4>With Purple Signs You Can
            <span class="txt-rotate" data-period="2000" data-rotate='[ "Take Courses.", "Use Word Dictionary.", "Learn Zimbabwean Constitution", "Learn Basic Words", "Learn Everything" ]'></span>
        </h4>
    </p>


</div>